@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* start global rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* end global rules */

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-clr);
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 230px 20px 1fr;
    grid-template-rows: auto 1fr;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: red;
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-clr);
    border-radius: 18px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: green;
}